#view{
	padding: 2px;
	font-size: 1em;
	width: 600px;
	max-width: 600px;
}
#quest{
	width: 500px;
	background-color: gray;
}
#viewquestion{
	font-size: 1.5em;
	background-color: #BBDAFF;
	min-height: 100px;
	min-width: 200px;
	max-width: 200px;
	max-height: 200px;
	padding: 20px;
	
}